In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/university_rankings.csv")

df.head(10)

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968
5,University of Oxford,2017,6,96.8,https://www.topuniversities.com/universities/u...,United Kingdom,Oxford,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,3.0,"8,442",L,"6,708"
6,UCL,2017,7,95.6,https://www.topuniversities.com/universities/ucl,United Kingdom,London,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,5.0,"21,824",XL,"7,195"
7,ETH Zurich - Swiss Federal Institute of Techno...,2017,8,94.2,https://www.topuniversities.com/universities/e...,Switzerland,ZÃ¼rich,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,7.0,"7,733",L,"2,719"
8,Imperial College London,2017,9,94.1,https://www.topuniversities.com/universities/i...,United Kingdom,London,Europe,https://www.topuniversities.com/sites/default/...,Public,Very High,5.0,"11,143",L,"8,000"
9,University of Chicago,2017,10,93.0,https://www.topuniversities.com/universities/u...,United States,Chicago,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,6.0,"4,696",L,"2,703"

In [3]:
df.dtypes

university                 object
year                        int64
rank_display               object
score                     float64
link                       object
country                    object
city                       object
region                     object
logo                       object
type                       object
research_output            object
student_faculty_ratio     float64
international_students     object
size                       object
faculty_count              object
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6482 entries, 0 to 6481
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   university              6482 non-null   object
 1   year                    6482 non-null   int64
 2   rank_display            6414 non-null   object
 3   score                   2820 non-null   float64
 4   link                    6482 non-null   object
 5   country                 6482 non-null   object
 6   city                    6304 non-null   object
 7   region                  6482 non-null   object
 8   logo                    6482 non-null   object
 9   type                    6470 non-null   object
 10  research_output         6480 non-null   object
 11  student_faculty_ratio   6407 non-null   float64
 12  international_students  6318 non-null   object
 13  size                    6480 non-null   object
 14  faculty_count           6404 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 759.7+ KB

In [15]:
clean_df = df[["university", "year", "rank_display", "score", "country", "city", "region", "type", "research_output", "student_faculty_ratio", "international_students", "size", "faculty_count"]]
usable_df = clean_df.head(100).copy()
usable_df.head()

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,United States,Cambridge,North America,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,United States,Stanford,North America,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,United States,Cambridge,North America,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968

Currently International Students and faculty count is a string, we need it to be int.

year, rank, int stu, faculty

df['Price'] = pd.to_numeric(df['Price'])

In [19]:
usable_df["rank_display"] = usable_df["rank_display"].astype(int)

In [20]:
usable_df["international_students"] = usable_df["international_students"].str.replace(',', '').astype(int)

In [22]:
usable_df["faculty_count"] = usable_df["faculty_count"].str.replace(',', '').astype(int)

usable_df.head()

In [23]:
usable_df.head()

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,United States,Cambridge,North America,Private,Very High,4.0,3730,M,3065
1,Stanford University,2017,2,98.7,United States,Stanford,North America,Private,Very High,3.0,3879,L,4725
2,Harvard University,2017,3,98.3,United States,Cambridge,North America,Private,Very High,5.0,5877,L,4646
3,University of Cambridge,2017,4,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,7925,L,5800
4,California Institute of Technology (Caltech),2017,5,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968

In [24]:
usable_df.dtypes

university                 object
year                        int64
rank_display                int64
score                     float64
country                    object
city                       object
region                     object
type                       object
research_output            object
student_faculty_ratio     float64
international_students      int64
size                       object
faculty_count               int64
dtype: object

Export Pandas Dataframe to CSV

In [8]:
clean_df.to_csv(r'data/clean_university_rankings.csv', index = False)

In [3]:
cleaned_data_df = pd.read_csv("data/clean_university_rankings.csv")
cleaned_data_df.head()

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,United States,Cambridge,North America,Private,Very High,4.0,3730,M,3065
1,Stanford University,2017,2,98.7,United States,Stanford,North America,Private,Very High,3.0,3879,L,4725
2,Harvard University,2017,3,98.3,United States,Cambridge,North America,Private,Very High,5.0,5877,L,4646
3,University of Cambridge,2017,4,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,7925,L,5800
4,California Institute of Technology (Caltech),2017,5,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968

Now let's get the same data but from my local postgresql database

In [18]:
# SQLAlchemy - generates SQL statements from python
# Psycopg2 - communicates your SQL statements to your Postgres database

from sqlalchemy import create_engine
import psycopg2
import pandas as pd

In [23]:

# Create the connection

engine = create_engine('postgresql://super_andyw:#chill$..12@localhost:5432/mypostgresdb')

# create_engine() creates an engine object that allows you to connect to your database and send queries using python.

In [24]:
testdf = pd.read_sql_query('''SELECT * FROM rankings;''', engine)
testdf.head()

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "super_andyw"
connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "super_andyw"

(Background on this error at: https://sqlalche.me/e/14/e3q8)

lets see what happens now.

In [14]:
param_dic = {
    "host"      : "localhost",
    "database"  : "mypostgresdb",
    "user"      : "andyw",
    "password"  : "#chill$..12"
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        exit(1) 
    print("Connection successful")
    return conn

def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [16]:
# Connect to the database
conn = connect(param_dic)
column_names = ["university", "rank_display", "score", "international_students"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from rankings", column_names)
df.head()

Connecting to the PostgreSQL database...
connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "andyw"
connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "andyw"

Connection successful

AttributeError: 'NoneType' object has no attribute 'cursor'

New, this time with ConnectorX

In [35]:
import connectorx as cx
import pandas as pd

df = cx.read_sql("postgresql://getdatauser:test123@localhost:5432/mypostgresdb", "SELECT * FROM rankings")

In [36]:
df.head()

,university,year_ranked,global_rank,score,country,city,region,university_type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,United States,Cambridge,North America,Private,Very High,4.0,3730,M,3065
1,Stanford University,2017,2,98.7,United States,Stanford,North America,Private,Very High,3.0,3879,L,4725
2,Harvard University,2017,3,98.3,United States,Cambridge,North America,Private,Very High,5.0,5877,L,4646
3,University of Cambridge,2017,4,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,7925,L,5800
4,California Institute of Technology (Caltech),2017,5,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968

How to Benchmark?