# pandas tutorial
https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html

# 01 pandas Data Structures

In [ ]:
import pandas as pd

### DataFrame
A table of data is stored as a pandas DataFrame
Each column in a DataFrame is a Series

In [ ]:
titanic_passengers_dictionary = {
    "Name": [
        "Braund, Mr. Owen Harris",
        "Allen, Mr. William Henry",
        "Bonnell, Miss. Elizabeth",
    ],
    "Age": [22, 35, 58],
    "Sex": ["male", "male", "female"],
}

titanic_passengers_dataframe = pd.DataFrame(titanic_passengers_dictionary)

### Series
A series is a one dimensional, labeled, homogeneously-typed array.

In [ ]:
guest_class = pd.Series([1, 2, 3], name="guest_class")
guest_class.max()

When selecting a single column of a pandas DataFrame, the result is a pandas Series.

In [ ]:
titanic_passengers_dataframe["Name"]

### Methods
You can do things by applying a method to a DataFrame or Series


As illustrated by the max() method, you can do things with a DataFrame or Series. pandas provides a lot of functionalities, each of them a method you can apply to a DataFrame or Series. As methods are functions, do not forget to use parentheses ().

In [ ]:
titanic_passengers_dataframe["Age"].max()

In [ ]:
titanic_passengers_dataframe.describe()

# 02 Reading and Writing Data

Getting data in to pandas from many different file formats or data sources is supported by read_* functions.
Exporting data out of pandas is provided by different to_*methods.

In [ ]:
titanic_data = pd.read_csv("data/titanic.csv")
titanic_data.head(10)

### Attributes
dtypes is an attribute of a DataFrame and Series. Attributes of DataFrame or Series do not need brackets. Attributes represent a characteristic of a DataFrame/Series, whereas a method (which requires brackets) do something with the DataFrame/Series

In [ ]:
titanic_data.dtypes

In [ ]:
titanic_data.info()

# 03 DataFrame Subsets

In [ ]:
ages = titanic_data["Age"]
ages.head()

In [ ]:
type(titanic_data["Age"])

In [ ]:
titanic_data["Age"].shape